@import '../../../../styles/utils/vars';
@import '../../../../styles/utils/mixins';

.heading {
  font-family: $font-playfair;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  margin: 0;
  color: $c-white;

  // Alignment modifiers
  &--align-start {
    text-align: start;
  }
  &--align-center {
    text-align: center;
  }
  &--align-end {
    text-align: end;
  }

  &--h1,
  &--xxl {
    font-size: 3rem;
    line-height: 100%;

    @include tablet {
      font-size: 4.5rem;
    }

    @include desktop {
      font-size: 6rem;
    }
  }

  &--h2,
  &--xl {
    font-size: 2.38rem;
    line-height: 100%;

    @include tablet {
      font-size: 3.88rem;
    }

    @include desktop {
      font-size: 5rem;
    }
  }

  &--h3,
  &--l {
    font-size: 1.75rem;
    line-height: 125%;

    @include tablet {
      font-size: 2.5rem;
      line-height: 125%;
    }

    @include desktop {
      font-size: 3.63rem;
      line-height: 120%;
    }
  }

  &--h4,
  &--m {
    font-size: 1.25rem;
    line-height: 125%;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &--h5,
  &--s {
    font-size: 1.25rem;
    line-height: 150%;

    @include tablet {
      font-size: 3rem;
      line-height: 120%;
    }

    @include desktop {
      font-size: 3rem;
      line-height: 120%;
    }
  }

  &--h6,
  &--xs {
    font-size: 0.88rem;
    line-height: 125%;
  }
}
