@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks/header';
@import 'blocks/lang-switcher';
@import 'blocks/side-menu';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $c-gray;
  font-family: Raleway, sans-serif;
  color: $c-black;
}
