$font-playfair: 'Playfair Display', serif;
$font-raleway: 'Raleway', serif;
$c-main: #cd4d31;
$c-white: #f1f5f4;
$c-background: #3f5252;
$c-black: #1c1b29;
$c-gray: #504f5e;
$header-height-mobile: 80px;
$header-height-tablet: 77px;
$header-height-desktop: 90px;
