$font-playfair: 'Playfair Display', serif;
$font-raleway: 'Raleway', serif;
$c-main: #cd4d31;
$c-white: #f1f5f4;
$c-background: #3f5252;
$c-black: #1c1b29;
$c-gray: #504f5e;

// header height
$header-height-mobile: 80px;
$header-height-tablet: 77px;
$header-height-desktop: 90px;

// Button dimensions
$button-height: 60px;

// Button width (mobile, table, desktop)
$button-width-xs: 210px;
$button-width-sm: 270px;
$button-width-md: 280px;
$button-width-lg: 330px;
