// FONTS
$font-playfair: 'Playfair Display', serif;
$font-raleway: 'Raleway', sans-serif;

// COLORS
$c-main: #cd4d31;
$c-main-hover: #af3419;
$c-main-pressed: #ea340d;
$c-main-disabled: #dd836f;
$c-white: #f1f5f4;
$c-background: #3f5252;
$c-black: #1c1b29;
$c-gray: #504f5e;

// BREAKPOINTS

$breakpoint-mobile: 639px;
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1280px;

// SPACING SYSTEM
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$spacing-2xl: 48px;
$spacing-3xl: 64px;
$spacing-4xl: 80px;
$spacing-5xl: 96px;

// PAGE PADDING
$page-padding-mobile: 20px;
$page-padding-tablet: 40px;
$page-padding-desktop: 55px;

// HEADER
$header-height-mobile: 80px;
$header-height-tablet: 77px;
$header-height-desktop: 90px;

// Button dimensions
$button-height: 60px;

// Button width (mobile, table, desktop)
$button-width-xs: 210px;
$button-width-sm: 270px;
$button-width-md: 280px;
$button-width-lg: 330px;
