@import '../../../../styles/utils/vars';

.p-container {
  font-weight: 400;
  font-family: $font-playfair;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-container p {
  width: 100%;
}
