@import '../../../../styles/utils/vars';

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $c-background;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 999;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &--open {
    transform: translateX(0);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    z-index: 998;

    &--open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__close-btn {
    background: transparent;
    border: none;
    padding: 0;
  }

  &__close-icon {
    width: 22px;
    height: 22px;
  }
}
