@import '../../../../../styles/utils/vars';
@import '../../../../../styles/utils/mixins';

.landing-home-block {
  width: 100%;
  background-color: $c-background;

  @include viewport-height-minus-header;

  display: flex;

  &__container {
    width: 100%;

    @include page-padding;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
